.vertical-menu {
    width: 260px;
    height:93vh;
    background-color: #eee;
    position:fixed;
    position:fixed;
  }
  
  .vertical-menu a {
    background-color: #eee; /* Grey background color */
    color: black; /* Black text color */
    display: block; /* Make the links appear below each other */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove underline from links */
  }
  
  .vertical-menu a:hover {
    background-color: #ccc; /* Dark grey background on mouse-over */
  }
  
  .vertical-menu a.active {
    border-bottom: 5px solid #04AA6D; /* Add a green color to the "active/current" link */
    color: rgb(31, 28, 28);
    width: 160px;
  }
